h2 Attire
p The attire for the wedding will be evening/formal attire – black tie is not requested.  Generally, this means suits for men and nice dresses - either cocktail or full length - for ladies.
 
p Since both the ceremony and reception will be held indoors, you do not have to consider the July weather in selecting your attire for the event.  However, if you are visiting the area for a few days, keep in mind that summers in Virginia can be hot and humid.  It also can thunderstorm any afternoon without warning!  