h2 Visitor Information
p Attending from out of town? Try the following links for fun ideas of what to do in the area.
= link_to "http://www.visitalexandriava.com/", "http://www.visitalexandriava.com/"
