h2 Our Story:

div Amanda and Adam met in 2006 at a Christmas party.  Adam says that Amanda noticed him because he was the ‘tallest guy at the party.’  Amanda decided she really liked Adam from the start because he was funny and she had finally found someone who loved coffee as much as she did! 

p Adam proposed to Amanda after four wonderful years together.  He got down on one knee at Breaux Vineyards in Loudoun County, Virginia, on a beautiful Saturday afternoon in June.  Amanda said ‘yes’ right away! 

h2 Family and Wedding Party

p We would like to thank our close friends and family for all of their love and support! Here is a list of our wedding party:

h3 Our Parents:

em Father and Stepmother of the Bride:
div Terrence Morrow, Sr. and Anna Mary Coburn

br

em Mother of the Bride:
div Gloria Morrow

br

em Father and Mother of the Groom:  
div Richard and Nicki Kertz


h3 Our Wedding Party:

em Maid of Honor:
div Hilary Kautter, BFF of the bride

br

em Best Man:
div Michael Labos, friend of the groom

br

em Bridesmaids:
div Cheryl Carter, friend of the bride
div Danielle Obuchon, friend of the bride
div Blair Malato, friend of the bride
div Liz Badley, friend of the bride

br

em Groomsmen:
div Joseph Groves, friend of the groom
div Michael Rapetti, friend of the groom
div Terrence Morrow, Jr., brother of the bride
div Gregory Blatt, friend of the groom

br

em Readers:
div Ira Morrow, sister of the bride
div Jennifer Polidoro, friend of the bride

br

em Ushers:
div Aloysha Morrow, brother of the bride
div Nicholas Morrow, brother of the bride