h2 Family and Wedding Party

p We would like to thank our close friends and family for all of their love and support! Here is a list of our wedding party:

h3 Our Parents:

em Father and Stepmother of the Bride:
div Terrence Morrow, Sr. and Anna Mary Coburn

br

em Mother of the Bride:
div Gloria Morrow

br

em Father and Mother of the Groom:  
div Richard and Nicki Kertz


h3 Our Wedding Party:

em Maid of Honor:
div Hilary Kautter, BFF of the bride

br

em Best Man:
div Michael Labos, friend of the groom

br

em Bridesmaids:
div Cheryl Carter, friend of the bride
div Danielle Obuchon, friend of the bride
div Blair Malato, friend of the bride
div Liz Badley, friend of the bride

br

em Groomsmen:
div Joseph Groves, friend of the groom
div Michael Rapetti, friend of the groom
div Terrence Morrow, Jr., brother of the bride
div Gregory Blatt, friend of the groom

br

em Readers:
div Ira Morrow, sister of the bride

br

em Ushers:
div Aloysha Morrow, brother of the bride
div Nicholas Morrow, brother of the bride
